/* .Desplegable-precioKm{
    position: absolute;
    background-color: white;
    z-index: 7;
    top: 190px;
    width: 90%;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border: 1q solid black;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease, visibility .5s ease;
} */
.KmPrecio{
    top: 190px;
}
.Desde-hasta-wrapper{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid black;
    height: 50px;
    /* padding: 1rem 0; */
    /* background-color: blueviolet; */
}
.isVisibleKmPrecio{
    visibility: visible;
    opacity: 1;
}
.PrecioKm{
    padding: 0;
    margin: 0;
}
.Desde-hasta{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
    cursor: pointer;
}
.Desde-hasta-span{
    font-size: large;
    font-weight: 400;
}
.Kilometro-precio{
    border-top: 1px solid black;
    display: flex;
    flex-flow: column;
    justify-content: center;
    /* background-color: aqua; */
    padding: 1rem 2rem 1rem;
    cursor: pointer;
}
@media (min-width: 1000px){
    .KmPrecio{
        top: 265px;
    }
}