.KmPrecio{
    top: 190px;
}
.Desde-hasta-wrapper{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid black;
    height: 50px;
}
.isVisibleKmPrecio{
    visibility: visible;
    opacity: 1;
}
.PrecioKm{
    padding: 0;
    margin: 0;
}
.Desde-hasta{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.Desde-hasta-span{
    font-size: large;
    font-weight: 400;
}
.Kilometro-precio{
    border-top: 1px solid rgb(126, 126, 126);
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 1rem 2rem 1rem;
    cursor: pointer;
}
.Kilometro-precio:hover{
    background-color: rgb(236, 236, 236);
}
@media (min-width: 1000px){
    .KmPrecio{
        top: 265px;
    }
}